################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs/
/packages
**/bin/
**/obj/
/TestResults
*.DotSettings.user

/cake/tools
/cake/build.cake
/cake/build.ps1
/cake/.**
/cake/*.xml
/cake/main.cake
src/Gatling/.idea/workspace.xml

/cake/tools
/cake/build.cake
/cake/build.ps1
/cake/.**
/cake/*.xml
/cake/main.cake

/src/DraftKings._UnitName_._E2EName_.E2Ev2/Tests/Features/**/*.feature.cs
/src/DraftKings._UnitName_._E2EName_.E2Ev2/Tests/Features/*.feature.cs
