<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="SBTech local" value="https://artifactory.sbtech.com/artifactory/api/nuget/SBTech-nuget" validated="True" trusted="True" protocolVersion="2" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>